*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --main: rgb(0, 242, 255);
}
body{
    background-color: #171616;
    color: white;
}
.app-name{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}
.app-name img{
    width: 50px;
}
.app-name h1{
    text-align: center;
}
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171616;
    transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden{
    opacity: 0;
    visibility: hidden;
}
.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddddd;
    border-top-color: var(--main);
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}
@keyframes loading{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}